* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
a {
  color: block;
  text-decoration: none;
}
.mycard {
  margin-top: 30px;
}
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
.pointer {
  cursor: pointer;
}
.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}
.width100 {
  width: 100%;
}
.width50 {
  width: 50%;
}
.padding12 {
  padding: 12px;
}
.borderNone {
  border: none;
}
.radius50 {
  border-radius: 50%;
}
textarea:focus {
  outline: none;
}
.overhidden {
  overflow: hidden;
}
.bottom12 {
  padding-bottom: 12px;
}
.none {
  display: none;
}
.bold {
  font-weight: bold;
}
.textCenter {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .item {
    width: 33.3vw;
    height: 33.3vw;
    overflow: hidden;
  }
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
